

<div class="modular-row mainimage">

	<div class="header-bkgd">
	
		<div class="wallpaper"></div>
		<div class="floorboard"></div>
		<div class="floor"></div>
		<img class="header-frame frame-ballerina" src="{{url('theme://images/frame-ballerinaback.png')}}">
		<img class="header-frame frame-frayed" src="{{url('theme://images/frame-frayed.png')}}">
		<img class="header-frame frame-girlsketch" src="{{url('theme://images/frame-girlsketch.png')}}">
		<img class="header-frame frame-pinkladies" src="{{url('theme://images/frame-pinkladies.png')}}">
		<img class="header-frame frame-blackdress" src="{{url('theme://images/frame-blackdress.png')}}">
		<img class="header-frame frame-closeup" src="{{url('theme://images/frame-dresscloseup.png')}}">
		<img class="desk" src="{{url('theme://images/desk.png')}}">
		
	</div>



</div>



	<div class="modular-row intro wrapper padding">

		
			{{ content }}
	
		
		
		
	</div>

	<div class="modular-row callouts flexcontainer wrapper padding">
	
		<div class="home-callout books">
			<p>Currently, Hallee is writing zany picture books and a teen novel, <b><i>Frayed</i></b>, about twins in the worlds of fashion and addiction in search of beauty in an imperfect world.</p>
			<a class="button" href="writing">read on</a>
		</div>
		<div class="home-callout projects">
			<p>She is also developing DoYouHa.com, a children’s property that encourages creativity, social emotional learning, and laughter.</p>
			<a class="button" href="http://doyouha.com" target="_blank">learn more</a>
		</div>
	</div>

	<div class="modular-row twitter-section">

		<div class="wallpaper">
			<img class="header-frame frame-ballerina mobile-hide" src="{{url('theme://images/frame-ballerinaback.png')}}">
		<img class="header-frame frame-frayed mobile-hide" src="{{url('theme://images/frame-frayed.png')}}">
		<img class="header-frame frame-girlsketch mobile-hide" src="{{url('theme://images/frame-girlsketch.png')}}">
		<img class="header-frame frame-pinkladies mobile-hide" src="{{url('theme://images/frame-pinkladies.png')}}">
		<img class="header-frame frame-blackdress mobile-hide" src="{{url('theme://images/frame-blackdress.png')}}">
		<img class="header-frame frame-closeup mobile-hide" src="{{url('theme://images/frame-dresscloseup.png')}}">
			<div class="tweet-window">
				<a class="twitter-timeline" data-height="400" href="https://twitter.com/HalleeAdelman">Tweets by HalleeAdelman</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
		</div>
	</div>

	<div class="modular-row contact-section">

	<h2>Learn more about <span class="bold">Hallee</span> and her work.</h2>

		<div class="flexcontainer wrapper padding">

		
	
			<div class="home-callout author-contact">
				<div class="textbox">
					<h1>Hallee Adelman</h1>
					<p>author and founder, World of Ha</p>
				</div>
				<a class="button" href="writing">hallee@adelmans.net</a>
			</div>
			<div class="home-callout agent-contact">
				<div class="textbox">
					<h1>Jill Corcoran</h1>
					<p>literary agent, Jill Corcoran Literary</p>
				</div>
				<a class="button" href="http://doyouha.com" target="_blank">jill@jillcorcoranliteraryagency.com</a>
			</div>
		</div>
	</div>



