{% extends 'partials/base.html.twig' %}

{% block content %}





<div class="modular-row mainimage">

	<div class="header-bkgd">
	
		<div class="wallpaper"></div>
		<div class="floorboard"></div>
		<div class="floor"></div>
		<img class="header-frame frame-ballerina" src="{{url('theme://images/frame-ballerinaback.png')}}">
		<img class="header-frame frame-frayed" src="{{url('theme://images/frame-frayed.png')}}">
		<img class="header-frame frame-girlsketch" src="{{url('theme://images/frame-girlsketch.png')}}">
		<img class="header-frame frame-pinkladies" src="{{url('theme://images/frame-pinkladies.png')}}">
		<img class="header-frame frame-blackdress" src="{{url('theme://images/frame-blackdress.png')}}">
		<img class="header-frame frame-closeup" src="{{url('theme://images/frame-dresscloseup.png')}}">
		<img class="desk" src="{{url('theme://images/desk.png')}}">
		
	</div>



</div>



	<div class="modular-row intro wrapper padding">

		
			{{ page.content }}
	
		
		
		
	</div>

	<div class="modular-row callouts flexcontainer wrapper padding">
	
		<div class="home-callout books">

			{{header.custom.callout1|markdown}}
			<a class="button" href="writing">read on</a>
		</div>
		<div class="home-callout projects">
			{{header.custom.callout2|markdown}}
			<a class="button" href="http://doyouha.com" target="_blank">learn more</a>
		</div>
	</div>

	<div class="modular-row twitter-section">

		<div class="wallpaper">
			<img class="header-frame frame-ballerina mobile-hide" src="{{url('theme://images/frame-ballerinaback.png')}}">
		<img class="header-frame frame-frayed mobile-hide" src="{{url('theme://images/frame-frayed.png')}}">
		<img class="header-frame frame-girlsketch mobile-hide" src="{{url('theme://images/frame-girlsketch.png')}}">
		<img class="header-frame frame-pinkladies mobile-hide" src="{{url('theme://images/frame-pinkladies.png')}}">
		<img class="header-frame frame-blackdress mobile-hide" src="{{url('theme://images/frame-blackdress.png')}}">
		<img class="header-frame frame-closeup mobile-hide" src="{{url('theme://images/frame-dresscloseup.png')}}">
			<div class="tweet-window">
				<div class="tweet-mobile">
					<a class="twitter-timeline" data-height="400" href="https://twitter.com/HalleeAdelman">Tweets by HalleeAdelman</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>
			</div>
		</div>
	</div>

	<div id="contact" class="modular-row contact-section">

	<h2>Learn more about <span class="bold">Hallee</span> and her work.</h2>

		<div class="flexcontainer wrapper padding">

		
	
			<div class="home-callout author-contact">
				<div class="textbox">
					{{header.custom.contact1|markdown}}
				</div>
			</div>
			<div class="home-callout agent-contact">
				<div class="textbox">
					{{header.custom.contact2|markdown}}
				</div>
			</div>
		</div>
	</div>

{% endblock %}

