{% embed 'partials/base.html.twig' %}


	{% set collection = page.collection() %}
	{% set ordered_collection = collection.order('date','desc') %}

		

	{% block content %}
		{% set blog_image = page.media.images|first.grayscale().contrast(20).brightness(-100).colorize(-35,81,122) %}

		{% if blog_image %}
		<div class="flush-top blog-header blog-header-image" style="background-image: url({{ blog_image.url }});">
		{% else %}
		<div class="blog-header">
		{% endif %}
			{{ page.content }}
		</div>

			{% if config.plugins.breadcrumbs.enabled %}
				{% include 'partials/breadcrumbs.html.twig' %}
			{% endif %}

		<div class="content-wrapper blog-content-list grid">
		
			<div id="listing" class="block h-feed">


				{% for post in taxonomy.findTaxonomy({'tag':'featured'}) %}
				    {% include 'partials/blog_item.html.twig' with {'blog':page, 'page':post, 'truncate':true} %}
				    <hr>
				{% endfor %}

				{% for child in ordered_collection %}

					{{dump(child.taxonomy.tag)}}
				{#	{{ child.tags }} #}
				{#	{% if loop.index == 1  %} #}

				{% if child.taxonomy.tag == null %} 
					<div class="news_headline">
						<h2><a href="{{ child.url }}" class="u-url">{{ child.title }}</a></h2>
			        	<div class="list-blog-date">

				                <time class="dt-published" datetime="{{ child.date|date("c") }}">
				                    <span>{{ child.date|date("M") }}</span>
				                    <em>{{ child.date|date("Y") }}</em>
				                </time>
				       
				        </div>
				       </div>
			        {% endif %}
					

			    {% endfor %}

                {% if config.plugins.pagination.enabled and collection.params.pagination %}
                    {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
                {% endif %}
			</div>

		</div>
	{% endblock %}

{% endembed %}


